/RUNNING_PID
/logs/
/project/project/
**/node_modules/
*/node_modules/
/node_modules/
node_modules/
**/target/
**/logs/

*.#*
*.jar
.git
.idea
*.iml
*.pyc
*.js.map
**/**.js.map
/lib/*.js.map
/routes/*.js.map
/bin/set-env-override.sh

/docker/*/includes/
/docker/*/Dockerfile.bak

/src/npm-debug.log

/src/build/
/src/*.js
src/controller/rest/**/*.js
/src/controller/service/**/*.js
/src/dbmigrate/**/*.js
/src/dbstats/**/*.js
/src/dispatcher/**/*.js
/lib/**/*.js
lib/**/*.js
/src/test/**/*.js
/src/voice/**/*.js
!/src/Gruntfile.js

/src/typings/

robotframework_acq.egg-info
npm-debug.log