extends layout

block content
    div.top Hello, #{userName}, what would you like to do?
        
        form(method="GET", action="/user/add")
            button.b(type='submit') Add User

        form(method="GET", action="/user/list")
            button.b View Users

        form(method="GET", action="/user/remove")
            button.b Delete User
        
        form(method="GET", action="/notes")
            button.b Notes