doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")    
    script
        include ../routes/index.js
  body

    block content

    div.f-c
      div.wrapper
        if success_msg
          .alert.alert-success #{success_msg}      
        if error_msg
          .alert.alert-danger #{error_msg}
        if error
          .alert.alert-danger #{error}

  script.
    window.setTimeout(function() {$(".alert").fadeTo(500, 0).slideUp(500, function(){$(this).remove();});}, 2000);