extends layout

block content
    div.top Sign In
    form(method="POST", action="/user/login")
        div.f-g
            input.f-c(type="text", placeholder="Your Name", name="username")
            span.f-b
        div.f-g
            input.f-c(type="password", placeholder="Your Password", name="password")
            span.f-b
        div.top
            div.f
                button.b.b-p(type="submit") Login