extends layout

block content
    div.top Hello, #{userName}, what would you like to do?
    div.form
    form(method="GET", action="/add")
        button.b(type='submit') Add User

    form(method="POST", action="/users/list")
        input(type="hidden" name="username" value=userName)
        button.b View Users

    form(method="GET", action="/users/delete")
        button.b Delete User

    form(method="GET", action="/users/byName")
        button.b Get Specific User