body {
    padding: 50px;
    background-image: url('../img/bg2.jpg');
}

.f-c {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}

.f-c-hidden {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
    visibility: hidden;
}

.f-c ~ .f-b {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #78788c;
    transition: 0.4s;
}

select {
    width: 100%;
}

.f-c:focus ~ .f-b {
    width: 100%;
    transition: 0.4s;
    left: 0;
}

input {
    font: 15px/24px 'Muli', sans-serif;
    color: #333;
    background: transparent;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

select {
    font: 15px/24px 'Muli', sans-serif;
    color: #333;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 2px;
}

select option {
    font: 15px/24px 'Muli', sans-serif;
    color: #333;
    background-color: transparent;
    letter-spacing: 11px;
}

.styled-select select:focus {
    outline: none;
}

:focus {
    outline: none;
}

.f-g {
    float: left;
    width: 34%;
    margin: 30px 8%;
    position: relative;
}

.f-g-hidden {
    float: left;
    visibility: hidden;
    width: 34%;
    margin: 30px 8%;
    position: relative;
}

.f-g-b {
    float: left;
    width: 90%;
    margin: 30px 6%;
    position: relative;
}

button {
    padding: 8px 12px;
    margin: 8px 35% 35%;
    font: 15px/24px 'Muli', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s;
    width: 30%;
    letter-spacing: 1px;
}

.b {
    padding: 8px 12px;
    margin: 8px;
    font: 15px/24px 'Muli', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s;
    width: 47%;
}

button:hover {
    background: #78788c;
    color: #fff
}

.top {
    font: 27px/30px 'Muli', sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 3px;
    text-align: center;
}